<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Entry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Edit <%= @espresso.name %><h2>

<form action="/espressos/<%= @espresso.id %>" method="POST" name="form4">
  <input type="hidden" name="_method" value="PATCH">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="espresso[name]" value="<%= @espresso.name %>"/> 
    </div>
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input type="text" class="form-control" id="brand" name="espresso[brand]" value="<%= @espresso.brand %>"/>
    </div>
    <div class="form-group">
      <label for="grind_size">Grind Size:</label>
      <input type="number" class="form-control" id="grind_size" name="espresso[grind_size]" value="<%= @espresso.grind_size %>"/>
    </div>
    <div class="form-group">
      <label for="dose">Dose:</label>
      <input type="number" class="form-control" id="dose" name="espresso[dose]" value="<%= @espresso.dose %>"/>
    </div>
    <div class="form-group">
      <label for="extraction_volume">Extraction Volume:</label>
      <input type="number" class="form-control" id="extraction_volume" name="espresso[extraction_volume]" value="<%= @espresso.extraction_volume %>"/>
    </div>
    <div class="form-group">
      <label for="extraction_time">Extraction Time:</label>
      <input type="number" class="form-control" id="extraction_time" name="espresso[extraction_time]" value="<%= @espresso.extraction_time %>"/>
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
<p>
<form action="/espressos/<%= @espresso.id %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <button type="delete" class="btn btn-outline-primary">Delete</button>
</form>

