<% if flash.has?(:error) %>
    <h3 class="error"><%= flash[:error] %></h3>
<% elsif flash.has?(:message) %>
      <h3 class="message"><%= flash[:message] %></h3>
      <h3><a href="/" style="text-decoration: underline;">Back to homepage</a><h3>
<% end %>

<h2>Espresso</h2>

<ul>
<% @espressos.each do |espresso| %>
    <li>
    <a href="/espresso/<%= espresso.id %>"><%= espresso.name %> - <%= espresso.brand %> - <% espresso.grind_size %> - <%= espresso.dose %> - <%= espresso.extraction_volume %> - <%= espresso.extraction_time %></a>
    </li>
    <% end %>
</ul>

<p><a href="/espresso/new">Create a new espresso extraction entry</a></p>