<!DOCTYPE html>
<html>
<title>Espresso Entries</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-display-topright">
<p><button class="w3-button w3-red"><a href="/logout">Log Out</a></button><p>
</div>

<div class="w3-container">
  <h2>Espresso Entries</h2>
  <p>Search for an espresso name in the field below</p>
  <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="myInput" onkeyup="myFunction()">

  <p>
  <table class="w3-table-all" id="myTable"
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Grind Size</th>
        <th>Dose (grams)</th>
        <th>Extraction Volume (grams)</th>
        <th>Extraction Time(secs.)</th>
    </tr>
    <% @espressos.each do |espresso| %>
    <tr>
        <td><%= espresso.id %></td>
        <td><a href="/espressos/<%= espresso.id %>"><%= espresso.name %></a></td>
        <td><%= espresso.brand %></td>
        <td><%= espresso.grind_size %></td>
        <td><%= espresso.dose %></td>
        <td><%= espresso.extraction_volume %></td>
        <td><%= espresso.extraction_time %></td>
    </tr>
    <% end %>
    </table>
</div>


<div class="w3-container">
<p><button class="w3-button w3-teal"><a href="/espressos/new">New Entry</a></button><p>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>